[Unit]
Description=Fire Box Service
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=fire-box
ExecStart=/usr/local/bin/fire-box /etc/fire-box/config.json
WorkingDirectory=/var/lib/fire-box

[Install]
WantedBy=multi-user.target